In [18]:
import warnings
warnings.filterwarnings('ignore')

In [19]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [20]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [21]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [60]:
# Load the data
file_path = Path('./Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)
    
df_binary_encoded = pd.get_dummies(df, columns=['home_ownership', 'verification_status', 'issue_d', 'pymnt_plan', 'initial_list_status', 'next_pymnt_d', 'application_type', 'hardship_flag', 'debt_settlement_flag'])
df_binary_encoded.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,0,1,0,1,1,0,1,1

# Split the Data into Training and Testing

In [61]:
# Create our features
X = df_binary_encoded.drop(columns=target)


# Create our target
y = df_binary_encoded[target]

In [62]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [63]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [64]:
from sklearn.model_selection import train_test_split
X_test, X_train, y_test, y_train = train_test_split(X, y, random_state=1, stratify=y)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [72]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf_model = BalancedRandomForestClassifier(random_state=1, n_jobs=-1) 
# Fitting the model
brf_model = brf_model.fit(X_train, y_train)
# Making predictions using the testing data.
y_pred = brf_model.predict(X_test)

In [73]:
# Calculated the balanced accuracy score
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8538711927458731

In [85]:
# Display the confusion matrix
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          210           50
Actual 1         6736        44616

In [75]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.02      0.63      0.86      0.04      0.73      0.53       260
   low_risk       1.00      0.86      0.63      0.92      0.73      0.55     51352

avg / total       0.99      0.85      0.63      0.92      0.73      0.55     51612

In [76]:
# List the features sorted in descending order by feature importance
importances = brf_model.feature_importances_
# Sort the features by their importance.
sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.06851027549218601, 'last_pymnt_amnt'),
 (0.06568851714077956, 'total_rec_prncp'),
 (0.06510143022030644, 'total_pymnt_inv'),
 (0.051888319186141584, 'total_rec_int'),
 (0.04844054532631461, 'total_pymnt'),
 (0.030572107500052747, 'int_rate'),
 (0.026925907631467242, 'issue_d_Jan-2019'),
 (0.021250241629710395, 'out_prncp'),
 (0.01970338648773086, 'annual_inc'),
 (0.01955227079666613, 'out_prncp_inv'),
 (0.019105020425947417, 'mths_since_recent_inq'),
 (0.01764702717605464, 'mo_sin_old_rev_tl_op'),
 (0.017118750277460393, 'max_bal_bc'),
 (0.016089461148878298, 'dti'),
 (0.015739234574952788, 'installment'),
 (0.015602955761096219, 'total_bal_ex_mort'),
 (0.015491044876661586, 'bc_open_to_buy'),
 (0.015158146574249513, 'avg_cur_bal'),
 (0.013579324647044878, 'pct_tl_nvr_dlq'),
 (0.013337080513215539, 'tot_hi_cred_lim'),
 (0.01333036549490012, 'total_bc_limit'),
 (0.013330001820952793, 'all_util'),
 (0.013241016944763774, 'mths_since_recent_bc'),
 (0.013167844548398798, 'revol_bal'),
 (0.013028038459166499, 'total_bal_il'),
 (0.012849540268459123, 'total_il_high_credit_limit'),
 (0.012236491458701218, 'il_util'),
 (0.012029566022281966, 'mths_since_rcnt_il'),
 (0.011769442024522894, 'inq_fi'),
 (0.011267926621246127, 'num_rev_accts'),
 (0.011172829082576096, 'total_rev_hi_lim'),
 (0.011049742483495759, 'tot_cur_bal'),
 (0.010824158363815008, 'mo_sin_old_il_acct'),
 (0.01081304598585628, 'loan_amnt'),
 (0.01070868643730494, 'mo_sin_rcnt_tl'),
 (0.010697095996643162, 'open_il_24m'),
 (0.010151156308689329, 'num_il_tl'),
 (0.009905610471090263, 'bc_util'),
 (0.009860436114804253, 'num_sats'),
 (0.009766510713261177, 'mo_sin_rcnt_rev_tl_op'),
 (0.009656997261040422, 'num_op_rev_tl'),
 (0.009269124905101067, 'total_cu_tl'),
 (0.008774223517116844, 'inq_last_12m'),
 (0.008658626282732894, 'open_act_il'),
 (0.008380125416141656, 'percent_bc_gt_75'),
 (0.008093010396401661, 'open_acc'),
 (0.007949236097772162, 'total_acc'),
 (0.00773582686020207, 'num_tl_op_past_12m'),
 (0.0075453175250909865, 'num_bc_sats'),
 (0.007391268103586269, 'acc_open_past_24mths'),
 (0.006945701446449556, 'num_bc_tl'),
 (0.006771860545413051, 'num_actv_rev_tl'),
 (0.006441398546464212, 'open_rv_12m'),
 (0.006381932904934949, 'tot_coll_amt'),
 (0.00626775055706558, 'num_rev_tl_bal_gt_0'),
 (0.006227559628111381, 'inq_last_6mths'),
 (0.005998863146632125, 'open_rv_24m'),
 (0.005674012120096936, 'mort_acc'),
 (0.005584296946785666, 'open_acc_6m'),
 (0.005539671387979456, 'num_actv_bc_tl'),
 (0.004326265284908325, 'next_pymnt_d_Apr-2019'),
 (0.003983514634593278, 'issue_d_Feb-2019'),
 (0.003965218567490482, 'total_rec_late_fee'),
 (0.0038626841185734023, 'issue_d_Mar-2019'),
 (0.003334254277342726, 'open_il_12m'),
 (0.00320938992057306, 'num_accts_ever_120_pd'),
 (0.003040174292047122, 'delinq_2yrs'),
 (0.0028381200794808277, 'next_pymnt_d_May-2019'),
 (0.0025725335754206886, 'pub_rec_bankruptcies'),
 (0.002242503718580769, 'verification_status_Not Verified'),
 (0.002127607132314884, 'home_ownership_MORTGAGE'),
 (0.0018026914588086015, 'home_ownership_OWN'),
 (0.0015602899550864237, 'application_type_Individual'),
 (0.001302408510592219, 'home_ownership_RENT'),
 (0.0012359040510593452, 'verification_status_Verified'),
 (0.0010124020581299764, 'num_tl_90g_dpd_24m'),
 (0.0010073974347384947, 'pub_rec'),
 (0.0010029546808406978, 'verification_status_Source Verified'),
 (0.0009992532152162425, 'initial_list_status_w'),
 (0.0007613933060046719, 'collections_12_mths_ex_med'),
 (0.000516367977555274, 'initial_list_status_f'),
 (0.00030931514767728474, 'application_type_Joint App'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'home_ownership_ANY'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [77]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier 
ee_model = EasyEnsembleClassifier(n_estimators=128, random_state=78, n_jobs=-1)

In [89]:
# Fitting the model
ee_model = ee_model.fit(X_train, y_train)
# Making predictions using the testing data.
y_pred = ee_model.predict(X_test)

In [90]:
# Calculated the balanced accuracy score
print(accuracy_score(y_test, y_pred))

0.868518949081609

In [91]:
# Display the confusion matrix
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          210           50
Actual 1         6736        44616

In [88]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.81      0.87      0.06      0.84      0.70       260
   low_risk       1.00      0.87      0.81      0.93      0.84      0.71     51352

avg / total       0.99      0.87      0.81      0.92      0.84      0.71     51612